# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
dist/
build/
*.so

# Virtual environments
venv/
.venv/
env/
.env.example

# Tests & coverage
.pytest_cache/
.coverage
htmlcov/

# Local database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
